* {
    box-sizing: border-box;
}

body {
    background: url(/img/backgroundimg.png);
    line-height: 1.4;
    color: #999;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: white;
    height: 100px;
    position: fixed;
    border-bottom: 1px solid grey;
    box-shadow: 0 0 1px 0.1px;
    z-index: 99;
    width: 100%;

}

header h1 {
    border-radius: 10px;
    background-color: #4aaaa5;
    width: 250px;
    height: 99px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    padding-top: 35px;
    margin-left: 25%;



}

div {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;

}

.section1 {
    background-color: white;
    margin-top: 120px;
    float: left;
    height: 500px;
    width: 600px;
    padding: 35px;
}

.section1 h2 {
    color: #4aaaa5;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 2px solid #999;



}

#personalName {
    margin: 0px 0px 10px;
    height: 30px;
    width: 100%;
}

#personalEmail {
    margin: 0px 0px 10px;
    height: 30px;
    width: 100%;
}

#personalMessage {
    margin: 0px 0px 10px;
    height: 100px;
    width: 100%;
}


.navbar1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20%;
    padding: 5px;
    float: right;

}

.navbar1 li {
    float: left;
    padding: 33px;


}

.navbar1 li a {
    text-decoration: none;
    color: #999;
    border-left: 1px solid #efefef93;
    line-height: 1px;
    padding-left: 10px;

}

.nav2 {
    margin-top: 120px;

    background-color: white;
    width: 300px;
    height: 180px;
    float: right;
}

.nav2 a img {
    float: left;
    padding-left: 10px;
    position: relative;
    top: 20px;
    left: 30px;
    width: 70px;
    height: 60px;
}

.nav2 h3 {
    font-size: 30px;
    font-weight: bold;
    color: #4aaaa5;
    margin: 20px;
    border-bottom: 3px solid #0e090969;
}